@page "/userlist"

<PageTitle>Users</PageTitle>

<h1>Users</h1>

<ul>
    @foreach (var userSummary in Users)
    {
        <li>
            @($"{userSummary.Id} - {userSummary.Username}")
            <ul>
                @foreach (var note in userSummary.Notes)
                {
                    <li>@note.Text</li>
                }
            </ul>
        </li>
    }
</ul>