@page
@model Demo.Notes.Web.Host.Pages.AddNoteModel
@{
    ViewData["Title"] = "Add Note";
}

<form method="post">
    
    <div class="row">
        <div class="col">
            <textarea name="NoteText" class="form-control"></textarea>
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-success" value="Save" asp-page-handler="Submit"/>
    </div>
</form>