@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@if (User.Identity?.IsAuthenticated == true)
{
    <ul>
    @foreach (Claim userClaim in User.Claims)
    {
        <li>@userClaim.Type: @userClaim.Value</li>
    }
    </ul>
}
else
{
    <h3>Not Logged In</h3>
}
